:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
  display: flex;
  padding: 6rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container {
  z-index: 10;
  width: 100%;
  max-width: 64rem;
  align-items: center;
  justify-content: space-between;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
}

.paragraph {
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #e4e4e7;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  --tw-backdrop-blur: blur(40px);
}

.logo_div {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  height: 12rem;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: #fff;
  --tw-gradient-to: rgb(255 255 255 / 0);
}

.logo {
  pointer-events: none;
  display: flex;
  place-items: center;
  gap: 0.5rem;
  padding: 2rem;
}

@media (prefers-color-scheme: dark) {
  .paragraph {
    --tw-border-opacity: 1;
    background-color: rgb(39 39 42 / 0.3);
    --tw-gradient-from: inherit;
  }
  .logo_div {
    --tw-gradient-from: #000;
    --tw-gradient-to: rgb(0 0 0 / 0);
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
  }
  .paragraph {
    position: static;
    width: auto;
    border-radius: 0.75rem;
    border-width: 1px;
    --tw-bg-opacity: 1;
    padding: 1rem;
  }
  .logo_div {
    position: static;
    height: auto;
    width: auto;
    background-image: none;
  }
  .logo {
    pointer-events: auto;
    padding: 0px;
  }
}
